src/flows/Aesthetics_Create_Service_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_SA</name>
        <label>Assign SA</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>SAInstance.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Office</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypes.firstSelectedRow.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_ProcedureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstance.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypes.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfSAtoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Procedure_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_For_PostOp</name>
        <label>Assign SA For PostOp</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Office</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post-Op</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PostopDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PostOp.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PostOp_WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfSAtoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAInstanceFor_PostOp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Final_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_For_PreOp</name>
        <label>Assign SA For PreOp</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Office</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Op</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PreOpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAInstanceFor_PreOp.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PreOp_WorkType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfSAtoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAInstanceFor_PreOp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PostOp_WorkType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Resource</name>
        <label>Populate Resource</label>
        <locationX>138</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ARInstance.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ARInstance.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Assigned_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofAssignedResource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ARInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Team_Member</name>
        <label>Update Opportunity - Team Member</label>
        <locationX>567</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Assigned_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_an_Appointment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Assign_Resource</name>
        <label>Is Assign Resource?</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfSAtoInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Procedure_Selected</name>
        <label>Is Procedure Selected?</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Create_Final_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Procedure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypes.firstSelectedRow.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procedure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PreOp_WorkType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Service_Resource</name>
        <label>Is Valid Service Resource?</label>
        <locationX>699</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Valid_Selected_Resource_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Resource.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Type_Selected</name>
        <label>Is Work Type Selected?</label>
        <locationX>501</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Worktype</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceResourceId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceResourceId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ServiceResourceId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkType_Selection_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Found</name>
        <label>Team Member Found?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Select_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DrFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Assigned_Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_an_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used in the Aesthetics Center Sales accelerator to create Service Appointments.</description>
    <environments>Default</environments>
    <formulas>
        <name>for_AssignedSurId</name>
        <dataType>String</dataType>
        <expression>&apos;test&apos;</expression>
    </formulas>
    <formulas>
        <name>for_OlderThanToday</name>
        <dataType>Boolean</dataType>
        <expression>{!Date_of_Procedure} &gt; Today ()</expression>
    </formulas>
    <formulas>
        <name>For_PostopDate</name>
        <dataType>DateTime</dataType>
        <expression>({!for_ProcedureDate} + 1)</expression>
    </formulas>
    <formulas>
        <name>For_PreOpDate</name>
        <dataType>DateTime</dataType>
        <expression>({!for_ProcedureDate} - 1)</expression>
    </formulas>
    <formulas>
        <name>for_ProcedureDate</name>
        <dataType>DateTime</dataType>
        <expression>(DATETIMEVALUE({!Date_of_Procedure}) + (12/24))</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>Today () +1</expression>
    </formulas>
    <interviewLabel>Aesthetics - Create Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aesthetics - Create Service Appointment</label>
    <loops>
        <name>Loop_through_SA</name>
        <label>Loop through SA</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <collectionReference>ListOfSAtoInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SA_Creation_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>ListofAssignedResource</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_SA</name>
        <label>Create Final SA</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Is_Assign_Resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SA_Creation_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>ListOfSAtoInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>Get Work Type</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territories</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PostOp_WorkType</name>
        <label>Get_PostOp_WorkType</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_For_PostOp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Op</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PreOp_WorkType</name>
        <label>Get_PreOp_WorkType</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_For_PreOp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Op</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkType_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Resource</name>
        <label>Get Selected Resource</label>
        <locationX>699</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Valid_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Assigned_Team_Member__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territories</name>
        <label>Get Service Territories</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Assign_SA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SA_Creation_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>314</locationX>
        <locationY>3602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PTName7</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AppointmentConfirmation</name>
            <fieldText>&lt;p&gt;The appointment has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SA_Creation_Error_Screen</name>
        <label>SA Creation Error Screen</label>
        <locationX>1095</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PTName6</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SACreationError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Schedule_an_Appointment</name>
        <label>Schedule an Appointment</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <fields>
            <name>PTName4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(29, 52, 225);&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Schedule an appointment for the patient listed above with &lt;strong&gt;{!Get_Opportunity.Assigned_Team_Member__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;em&gt;Continue&lt;/em&gt; to select the date and time for the service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Team_Member</name>
        <label>Select Team Member</label>
        <locationX>501</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Is_Work_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>PTName1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoTeamMemberFound</name>
            <fieldText>&lt;p&gt;No team member was found for this Opportunity.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectTeamMemerLabel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Team Member for this service&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceResources</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option</name>
                <value>
                    <elementReference>SelesctedProviderOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceName</name>
                <value>
                    <elementReference>ServiceResourceName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>parentRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelesctedProviderOption</assignToReference>
                <name>option</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceName</assignToReference>
                <name>serviceResourceName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Valid_Selected_Resource_Msg</name>
        <label>Valid Selected Resource Msg</label>
        <locationX>831</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PTName3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(29, 52, 225);&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidResource_Error</name>
            <fieldText>&lt;h3 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The selected Service resource doesn&apos;t have User attached with it. Select another service resource or ask your Salesforce admin for help&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkType_Screen</name>
        <label>WorkType_Screen</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>PTName5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkType_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WorkType_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Procedure</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Tomorrow</elementReference>
                    </defaultValue>
                    <fieldText>Date of Procedure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You can&apos;t add a date in the past&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!for_OlderThanToday}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WorkType_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>WorkTypes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>WorkType</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is being performed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d9ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Type Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectedProcedures</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Procedures</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4bf5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Procedure&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-4150&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-0ec1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WorkType_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WorkType_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>workTypeLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;What is being performed&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>workTypeGroup</name>
                    <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>filterByResources</name>
                        <value>
                            <elementReference>FilterByResourceIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterByWorkTypeGroups</name>
                        <value>
                            <elementReference>FilterByWorkTypeGroupIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>schedulingPolicyName</name>
                        <value>
                            <elementReference>SchedulingPolicyName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceResourceId</name>
                        <value>
                            <elementReference>ServiceResourceId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>validationErrors</name>
                        <value>
                            <elementReference>validationErrors</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workTypeGroupId</name>
                        <value>
                            <elementReference>workTypeGroupId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>validationErrors</assignToReference>
                        <name>validationErrors</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>workTypeGroupId</assignToReference>
                        <name>workTypeGroupId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FIND_RESOURCE</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkType_Selection_Screen</name>
        <label>WorkType Msg Screen</label>
        <locationX>303</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>PtName2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Opportunity.Account.FirstName} {!Get_Opportunity.Account.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkType_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please find available resources by their Name and try to continue again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkType_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WorkType_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_workTypeLabel</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;What is being performed&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_workTypeGroup</name>
                    <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>filterByResources</name>
                        <value>
                            <elementReference>FilterByResourceIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterByWorkTypeGroups</name>
                        <value>
                            <elementReference>FilterByWorkTypeGroupIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>schedulingPolicyName</name>
                        <value>
                            <elementReference>SchedulingPolicyName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>serviceResourceId</name>
                        <value>
                            <elementReference>ServiceResourceId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>validationErrors</name>
                        <value>
                            <elementReference>validationErrors</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>workTypeGroupId</name>
                        <value>
                            <elementReference>workTypeGroupId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>validationErrors</assignToReference>
                        <name>validationErrors</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>workTypeGroupId</assignToReference>
                        <name>workTypeGroupId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FIND_RESOURCE</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ARInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>Created_SA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>EventListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterByWorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>ListOfSAtoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_To_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAInstanceFor_PostOp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SAInstanceFor_PreOp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelesctedProviderOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FIND_RESOURCE</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
