src/flows/Aesthetics_Gather_Lead_Info_Create_Follow_up_Task_Web2Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <description>Used in the Aesthetics Center Sales accelerator to create lead records from your Experience Cloud site and create a follow-up task.</description>
    <dynamicChoiceSets>
        <name>Besttimetocontact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Best_Time_to_Contact__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DesiredService</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Preferred_Service__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Preferredcontactmethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Contact_Method__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Aesthetics - Gather Lead Information and Create a Follow-up Task (Web2Lead) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aesthetics - Gather Lead Info &amp; Create Follow-up Task (Web2Lead)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_up_Task</name>
        <label>Create Follow-up Task</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Aesthetics_Center_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Web Lead Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Best_Time_to_Contact__c</field>
            <value>
                <elementReference>Best_time_to_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>LeadMobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Aesthetics_Center_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Preferred_Service__c</field>
            <value>
                <elementReference>Desired_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <elementReference>Preferred_contact_method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lead_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Returning_Patient__c</field>
            <value>
                <elementReference>I_am_a_returning_patient</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Aesthetics_Center_Queue_ID</name>
        <label>Get Aesthetics Center Queue ID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aesthetics_Center</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record_Type_Id</name>
        <label>Get Lead Record Type Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aesthetics_Center_Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Aesthetics_Center_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aesthetics_Center_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Gather_Basic_Lead_Info</name>
        <label>Gather Basic Lead Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Lead_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>Branding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 28px;&quot;&gt;HLS-A Aesthetics Solution Accelerator &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 12px;&quot;&gt;(replace with your branding)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gather_Basic_Lead_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gather_Basic_Lead_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Gather_Basic_Lead_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Gather_Basic_Lead_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gather_Basic_Lead_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadMobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Gather_Basic_Lead_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Gather_Basic_Lead_Info_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gather_Basic_Lead_Info_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Best_time_to_contact</name>
                    <choiceReferences>Besttimetocontact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Best time to contact</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Gather_Basic_Lead_Info_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preferred_contact_method</name>
                    <choiceReferences>Preferredcontactmethod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Preferred contact method</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Gather_Basic_Lead_Info_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gather_Basic_Lead_Info_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_a_returning_patient</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I am a returning patient</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Gather_Basic_Lead_Info_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desired_Service</name>
                    <choiceReferences>DesiredService</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Desired Service</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;Thank you. Feel free to close this window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gather_Basic_Lead_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
