src/flows/Aesthetics_Reschedule_Service_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>New_Date</name>
        <label>New Date</label>
        <locationX>716</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Appointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Appointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Appointment_Found</name>
        <label>Appointment Found</label>
        <locationX>584</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Appt_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundAppt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appointment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used in the Aesthetics Center Sales accelerator to make changes to service appointments.</description>
    <environments>Default</environments>
    <interviewLabel>Event: Reschedule Svc Appt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aesthetics - Reschedule Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>584</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointment_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appointment</name>
        <label>Update Appointment</label>
        <locationX>716</locationX>
        <locationY>722</locationY>
        <inputReference>Get_Appointment</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Appt_Found</name>
        <label>No Appt Found</label>
        <locationX>452</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoApptFound</name>
            <fieldText>&lt;p&gt;No Appointment record found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>716</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Date</targetReference>
        </connector>
        <fields>
            <name>Holder</name>
            <fieldText>&lt;p&gt;Change the Appointment time for {!Get_Event.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Schedule: &lt;/strong&gt;{!Get_Appointment.SchedStartTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Schedule</name>
            <dataType>DateTime</dataType>
            <fieldText>New Schedule</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
