src/flows/Aesthetics_Create_or_Update_Medical_Questionnaire.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Files_to_Collection_Create_MQ</name>
        <label>Add Files to Collection Create MQ</label>
        <locationX>618</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>col_UploadedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files_Create_MQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Files_to_Collection_Update_MQ</name>
        <label>Add Files to Collection Update MQ</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>col_UploadedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files_Update_MQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_recordId</name>
        <label>Assign Lead recordId</label>
        <locationX>398</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId_Lead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Medical_Questionnaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_Questionnaire</name>
        <label>Assign Medical Questionnaire</label>
        <locationX>158</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Allergies_Adverse_Reactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Allergies_Adverse_Reactions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Any_Surgeries_in_the_Past_3_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Any_Surgeries_in_the_Past_3_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_surgeries_in_the_past_3_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_surgeries_in_the_past_3_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Current_medical_conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Current_medical_conditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.List_current_medical_conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.List_current_medical_conditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Do_you_take_any_of_these_medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Do_you_take_any_of_these_medications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_any_allergies_adverse_reactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_any_allergies_adverse_reactions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.List_any_other_current_medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.List_any_other_current_medications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Do_you_use_OTC_medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Do_you_use_OTC_medications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.List_your_OTC_meds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.List_your_OTC_meds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Latex_betadine_or_tape_allergy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Latex_betadine_or_tape_allergy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_any_reaction_to_latex_betadine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_any_reaction_to_latex_betadine__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Anaphylactic_shock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Anaphylactic_shock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Previous_operations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Previous_operations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_history_of_operations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_history_of_operations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Any_hospitalizations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Any_hospitalizations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_hospitalizations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_hospitalizations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Bleeding_issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Bleeding_issues__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_any_bleeding_issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_any_bleeding_issues__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_diabetes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_diabetes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_your_history_of_diabetes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_your_history_of_diabetes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Do_you_exercise_daily__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Do_you_exercise_daily__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Do_you_have_a_cough__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Do_you_have_a_cough__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.History_of_poor_scaring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.History_of_poor_scaring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_a_blood_clot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_a_blood_clot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Any_blood_transfusions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Any_blood_transfusions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_any_blood_transfusions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_any_blood_transfusions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_history_of_blood_clots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_history_of_blood_clots__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_hayfever__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_hayfever__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_hepatitis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_hepatitis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_high_blood_pressure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_high_blood_pressure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_emphysema__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_emphysema__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_liver_trouble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_liver_trouble__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_stroke__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_stroke__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_heart_disease__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_heart_disease__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_stomach_problems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_stomach_problems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_thrombophlebitis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_thrombophlebitis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_frequent_cold_sores__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_frequent_cold_sores__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Ever_had_psychiatric_or_nerve_p__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Ever_had_psychiatric_or_nerve_p__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_epilepsy_seizures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_epilepsy_seizures__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_thyroid_imbalance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_thyroid_imbalance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_severe_allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_severe_allergies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_depression__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_depression__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_bronchitis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_bronchitis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_fluid_retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_fluid_retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_labored_breathing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_labored_breathing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_asthma__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_asthma__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_arthritis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_arthritis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_cancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_cancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_any_history_of_cancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_any_history_of_cancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_had_anesthesia_complications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_had_anesthesia_complications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Do_you_drink_alcohol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Do_you_drink_alcohol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_average_alcohol_consumption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_average_alcohol_consumption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Tobacco_use_nicotine_products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Tobacco_use_nicotine_products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Tobacco_Use_Type_How_Often__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Tobacco_Use_Type_How_Often__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Recreational_Drug_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Recreational_Drug_use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_recreational_drug_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_recreational_drug_use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Other_substance_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Other_substance_use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Other_Substances_Type_How_Often__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Other_Substances_Type_How_Often__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Bleeding_disorders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Bleeding_disorders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_bleeding_disorders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_bleeding_disorders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Clotting_disorders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Clotting_disorders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_clotting_disorders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_clotting_disorders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Anesthesia_complication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Anesthesia_complication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.History_of_diabetes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.History_of_diabetes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.History_of_Cancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.History_of_Cancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Problems_scarring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Problems_scarring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Describe_anesthesia_complications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Describe_anesthesia_complications__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalQuestionnaire.Have_you_ever_had_migraine_headaches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Have_you_ever_had_migraine_headaches__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Medical_Questionnaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppty_recordId</name>
        <label>Assign Oppty recordId</label>
        <locationX>134</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId_Oppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Medical_Questionnaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CDL_Create_MQ</name>
        <label>Assign Values to CDL Create MQ</label>
        <locationX>618</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>rec_ContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Files_to_Collection_Create_MQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CDL_Update_MQ</name>
        <label>Assign Values to CDL Update MQ</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>rec_ContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Files_to_Collection_Update_MQ</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_Medical_Questionnaire</name>
        <label>Existing Medical Questionnaire?</label>
        <locationX>398</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_New_Medical_Questionnaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Questionnaire</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Medical_Questionnaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_Questionnaire</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Files_Found_Create_MQ</name>
        <label>Files Found - Create MQ?</label>
        <locationX>638</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ThankYouScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_MQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewMQImages.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Files_Create_MQ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Files_Found_Update_MQ</name>
        <label>Files Found - Update MQ?</label>
        <locationX>158</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ThankYouScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MQ_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateMQImages.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Files_Update_MQ</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Oppty</name>
        <label>Lead or Oppty?</label>
        <locationX>398</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_recordId</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Used in the Aesthetics Center Sales accelerator to create, or update, a Medical Questionnaire record from the Lead or Oppty object.</description>
    <dynamicChoiceSets>
        <name>Medications</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_take_any_of_these_medications__c</picklistField>
        <picklistObject>Medical_Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Aesthetics_Create_Update_Medical_Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aesthetics - Create or Update Medical Questionnaire</label>
    <loops>
        <name>Loop_Files_Create_MQ</name>
        <label>Loop Files - Create MQ</label>
        <locationX>530</locationX>
        <locationY>1190</locationY>
        <collectionReference>UploadedImages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_CDL_Create_MQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ThankYouScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Files_Update_MQ</name>
        <label>Loop Files - Update MQ</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>UploadedImages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_CDL_Update_MQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ThankYouScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Medical_Questionnaire</name>
        <label>Create Medical Questionnaire</label>
        <locationX>638</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Files_Found_Create_MQ</targetReference>
        </connector>
        <inputAssignments>
            <field>Allergies_Adverse_Reactions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Allergies_Adverse_Reactions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anaphylactic_shock__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Anaphylactic_shock__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anesthesia_complication__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Anesthesia_complication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Surgeries_in_the_Past_3_Months__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_Surgeries_in_the_Past_3_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_blood_transfusions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_blood_transfusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_hospitalizations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_hospitalizations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bleeding_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Bleeding_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bleeding_issues__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Bleeding_issues__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clotting_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Clotting_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_medical_conditions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Current_medical_conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_anesthesia_complications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_anesthesia_complications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_allergies_adverse_reactions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_allergies_adverse_reactions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_bleeding_issues__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_bleeding_issues__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_blood_transfusions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_blood_transfusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_history_of_cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_history_of_cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_reaction_to_latex_betadine__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_reaction_to_latex_betadine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_average_alcohol_consumption__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_average_alcohol_consumption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_bleeding_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_bleeding_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_clotting_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_clotting_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_history_of_blood_clots__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_history_of_blood_clots__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_history_of_operations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_history_of_operations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_hospitalizations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_hospitalizations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_recreational_drug_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_recreational_drug_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_surgeries_in_the_past_3_months__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_surgeries_in_the_past_3_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_your_history_of_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_your_history_of_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_drink_alcohol__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_drink_alcohol__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_exercise_daily__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_exercise_daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_cough__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_have_a_cough__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_take_any_of_these_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_take_any_of_these_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_use_OTC_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_use_OTC_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ever_had_psychiatric_or_nerve_p__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Ever_had_psychiatric_or_nerve_p__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_a_blood_clot__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_a_blood_clot__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_arthritis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_arthritis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_asthma__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_asthma__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_bronchitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_bronchitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_depression__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_depression__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_emphysema__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_emphysema__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_epilepsy_seizures__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_epilepsy_seizures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_fluid_retention__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_fluid_retention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_frequent_cold_sores__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_frequent_cold_sores__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_hayfever__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_hayfever__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_heart_disease__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_heart_disease__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_hepatitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_hepatitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_high_blood_pressure__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_high_blood_pressure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_labored_breathing__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_labored_breathing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_liver_trouble__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_liver_trouble__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_migraine_headaches__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_migraine_headaches__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_severe_allergies__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_severe_allergies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_stomach_problems__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_stomach_problems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_stroke__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_stroke__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_thrombophlebitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_thrombophlebitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_thyroid_imbalance__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_thyroid_imbalance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_had_anesthesia_complications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_had_anesthesia_complications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_Cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_poor_scaring__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_poor_scaring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latex_betadine_or_tape_allergy__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Latex_betadine_or_tape_allergy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_any_other_current_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_any_other_current_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_current_medical_conditions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_current_medical_conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_your_OTC_meds__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_your_OTC_meds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId_Oppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Substances_Type_How_Often__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Other_Substances_Type_How_Often__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_substance_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Other_substance_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_operations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Previous_operations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problems_scarring__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Problems_scarring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recreational_Drug_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Recreational_Drug_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tobacco_Use_Type_How_Often__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Tobacco_Use_Type_How_Often__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tobacco_use_nicotine_products__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Tobacco_use_nicotine_products__c</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Questionnaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>398</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_or_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medical_Questionnaire</name>
        <label>Get Medical Questionnaire</label>
        <locationX>398</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Medical_Questionnaire</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medical_Questionnaire__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>134</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Oppty_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Medical_Questionnaire_Update</name>
        <label>Medical Questionnaire Update</label>
        <locationX>158</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Files_Found_Update_MQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medical_Questionnaire.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allergies_Adverse_Reactions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Allergies_Adverse_Reactions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anaphylactic_shock__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Anaphylactic_shock__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anesthesia_complication__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Anesthesia_complication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Surgeries_in_the_Past_3_Months__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_Surgeries_in_the_Past_3_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_blood_transfusions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_blood_transfusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_hospitalizations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Any_hospitalizations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bleeding_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Bleeding_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bleeding_issues__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Bleeding_issues__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clotting_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Clotting_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_medical_conditions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Current_medical_conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_anesthesia_complications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Anesthesia_complication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_allergies_adverse_reactions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_allergies_adverse_reactions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_bleeding_issues__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_bleeding_issues__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_blood_transfusions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_blood_transfusions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_history_of_cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_history_of_cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_any_reaction_to_latex_betadine__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_any_reaction_to_latex_betadine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_average_alcohol_consumption__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_average_alcohol_consumption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_bleeding_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_bleeding_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_clotting_disorders__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_clotting_disorders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_history_of_blood_clots__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_history_of_blood_clots__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_history_of_operations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_history_of_operations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_hospitalizations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_hospitalizations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_recreational_drug_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_recreational_drug_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_surgeries_in_the_past_3_months__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_surgeries_in_the_past_3_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_your_history_of_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Describe_your_history_of_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_drink_alcohol__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_drink_alcohol__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_exercise_daily__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_exercise_daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_cough__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_have_a_cough__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_take_any_of_these_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_take_any_of_these_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_use_OTC_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Do_you_use_OTC_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ever_had_psychiatric_or_nerve_p__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Ever_had_psychiatric_or_nerve_p__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_a_blood_clot__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_a_blood_clot__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_arthritis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_arthritis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_asthma__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_asthma__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_bronchitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_bronchitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_depression__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_depression__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_emphysema__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_emphysema__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_epilepsy_seizures__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_epilepsy_seizures__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_fluid_retention__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_fluid_retention__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_frequent_cold_sores__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_frequent_cold_sores__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_hayfever__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_hayfever__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_heart_disease__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_heart_disease__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_hepatitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_hepatitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_high_blood_pressure__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_high_blood_pressure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_labored_breathing__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_labored_breathing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_liver_trouble__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_liver_trouble__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_migraine_headaches__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_migraine_headaches__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_severe_allergies__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_severe_allergies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_stomach_problems__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_stomach_problems__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_stroke__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_stroke__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_thrombophlebitis__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_thrombophlebitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_ever_had_thyroid_imbalance__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_ever_had_thyroid_imbalance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_had_anesthesia_complications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Have_you_had_anesthesia_complications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Cancer__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_Cancer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_diabetes__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_diabetes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_poor_scaring__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.History_of_poor_scaring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latex_betadine_or_tape_allergy__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Latex_betadine_or_tape_allergy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_any_other_current_medications__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_any_other_current_medications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_current_medical_conditions__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_current_medical_conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_your_OTC_meds__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.List_your_OTC_meds__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId_Oppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Substances_Type_How_Often__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Other_Substances_Type_How_Often__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_substance_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Other_substance_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_operations__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Previous_operations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problems_scarring__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Problems_scarring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recreational_Drug_use__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Recreational_Drug_use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tobacco_Use_Type_How_Often__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Tobacco_Use_Type_How_Often__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tobacco_use_nicotine_products__c</field>
            <value>
                <elementReference>MedicalQuestionnaire.Tobacco_use_nicotine_products__c</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Questionnaire__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Medical_Questionnaire</name>
        <label>Create New Medical Questionnaire</label>
        <locationX>638</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Medical_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>Branding2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px; color: rgb(23, 152, 193);&quot;&gt;Medical Questionnaire&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(23, 152, 193);&quot;&gt;(replace with your branding)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PatientName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patient Name:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PTName2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); font-size: 16px;&quot;&gt;{!Get_Opportunity_Record.Account.FirstName} {!Get_Opportunity_Record.Account.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(29, 52, 225); font-size: 16px;&quot;&gt;{!Get_Lead_Record.FirstName} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(26, 48, 224); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead_Record.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screening_Questions2</name>
            <fieldText>Initial Screening Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screening_Questions2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Allergies_Adverse_Reactions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_allergies_adverse_reactions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_Surgeries_in_the_Past_3_Months__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_surgeries_in_the_past_3_months__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Current_medical_conditions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_current_medical_conditions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screening_Questions2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_take_any_of_these_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_any_other_current_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_use_OTC_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_your_OTC_meds__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Images2</name>
            <fieldText>Images</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Images2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewMQImages</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>UploadedImages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_History2</name>
            <fieldText>Medical History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_History2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Latex_betadine_or_tape_allergy__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_reaction_to_latex_betadine__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Anaphylactic_shock__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_hospitalizations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_hospitalizations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Previous_operations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_history_of_operations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Bleeding_issues__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_bleeding_issues__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medical_History2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_exercise_daily__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_have_a_cough__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_your_history_of_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Problems_scarring__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_a_blood_clot__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_history_of_blood_clots__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_blood_transfusions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_blood_transfusions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Personal_History2</name>
            <fieldText>Personal History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_History2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_hayfever__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_hepatitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_high_blood_pressure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_migraine_headaches__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_emphysema__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_liver_trouble__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_stroke__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_heart_disease__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_stomach_problems__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_thrombophlebitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_frequent_cold_sores__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_epilepsy_seizures__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Ever_had_psychiatric_or_nerve_p__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_History2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_thyroid_imbalance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_severe_allergies__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_depression__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_bronchitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_fluid_retention__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_labored_breathing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_asthma__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_arthritis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_history_of_cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_had_anesthesia_complications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_anesthesia_complications__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Social_History2</name>
            <fieldText>Social History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Social_History2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_drink_alcohol__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_average_alcohol_consumption__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Tobacco_use_nicotine_products__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Tobacco_Use_Type_How_Often__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Social_History2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Recreational_Drug_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_recreational_drug_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Other_substance_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Other_Substances_Type_How_Often__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Family_History2</name>
            <fieldText>Family History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Family_History2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Bleeding_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_bleeding_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Clotting_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_clotting_disorders__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Family_History2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Anesthesia_complication__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_Cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_poor_scaring__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>662</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error - You need either an opportunity or lead record to run this flow.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>Thank You Screen</label>
        <locationX>398</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(72, 147, 53); background-color: rgb(255, 255, 255);&quot;&gt;Thank you! We&apos;ve have updated your response !!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Medical_Questionnaire</name>
        <label>Update Medical Questionnaire</label>
        <locationX>158</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Medical_Questionnaire_Update</targetReference>
        </connector>
        <fields>
            <name>Branding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px; color: rgb(23, 152, 193);&quot;&gt;Medical Questionnaire&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(23, 152, 193);&quot;&gt;(replace with your branding)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PTLastName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patient Name:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PTName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(29, 52, 225);&quot;&gt;{!Get_Opportunity_Record.Account.FirstName} {!Get_Opportunity_Record.Account.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(29, 52, 225);&quot;&gt;{!Get_Lead_Record.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(26, 48, 224); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead_Record.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_Screening_Questions</name>
            <fieldText>Initial Screening Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Screening_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Allergies_Adverse_Reactions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_allergies_adverse_reactions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_Surgeries_in_the_Past_3_Months__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_surgeries_in_the_past_3_months__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Current_medical_conditions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_current_medical_conditions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Screening_Questions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_take_any_of_these_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_any_other_current_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_use_OTC_medications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.List_your_OTC_meds__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Images</name>
            <fieldText>Images</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Images_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateMQImages</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>UploadedImages</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_History</name>
            <fieldText>Medical History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_History_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Latex_betadine_or_tape_allergy__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_reaction_to_latex_betadine__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Anaphylactic_shock__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Previous_operations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_history_of_operations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_hospitalizations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_hospitalizations__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Bleeding_issues__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_bleeding_issues__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medical_History_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_exercise_daily__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_have_a_cough__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_your_history_of_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Problems_scarring__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_a_blood_clot__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_history_of_blood_clots__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Any_blood_transfusions__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_blood_transfusions__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Personal_History</name>
            <fieldText>Personal History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_History_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_hayfever__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_hepatitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_high_blood_pressure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_migraine_headaches__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_emphysema__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_liver_trouble__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_stroke__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_heart_disease__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_stomach_problems__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_thrombophlebitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_frequent_cold_sores__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_epilepsy_seizures__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Ever_had_psychiatric_or_nerve_p__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_History_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_thyroid_imbalance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_severe_allergies__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_depression__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_bronchitis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_fluid_retention__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_labored_breathing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_asthma__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_arthritis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_ever_had_cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_any_history_of_cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Have_you_had_anesthesia_complications__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_anesthesia_complications__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Social_History</name>
            <fieldText>Social History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Social_History_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Do_you_drink_alcohol__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_average_alcohol_consumption__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Tobacco_use_nicotine_products__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Tobacco_Use_Type_How_Often__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Social_History_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Recreational_Drug_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_recreational_drug_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Other_substance_use__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Other_Substances_Type_How_Often__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Family_History</name>
            <fieldText>Family History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Family_History_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Bleeding_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_bleeding_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Clotting_disorders__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Describe_clotting_disorders__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Family_History_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.Anesthesia_complication__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_diabetes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_Cancer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MedicalQuestionnaire.History_of_poor_scaring__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>272</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>col_UploadedFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>MedicalQuestionnaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medical_Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>rec_ContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Oppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedImages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
