src/flows/Aesthetics_Create_Update_Opportunity_Status_History_record_when_Oppty_is_edited.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Existing_Status</name>
        <label>Update Existing Status</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Oppty_Status_History.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_Status_for_Closed</name>
        <label>Update Existing Status for Closed</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Oppty_Status_History.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Oppty_Status_History.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_Record_for_Closed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Closed</name>
        <label>Is Closed</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Status_for_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record</name>
        <label>New Record?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Status_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Status_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Oppty_Status_History</targetReference>
            </connector>
            <label>Status Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_New_Status_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppty_Status_History.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used in the Aesthetics Center Sales accelerator to create/update Opportunity Status History records when the related Oppty stage is edited.</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today ()</expression>
    </formulas>
    <interviewLabel>Aesthetics - Create/Update Opportunity Status History record when Oppty is edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aesthetics - Create/Update Opportunity Status History Record when Oppty is Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Status_Closed_Oppty</name>
        <label>Create New Status Closed Oppty</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Current_Status_on_Oppty</targetReference>
        </connector>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Status__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Status__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Status_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Status_Record</name>
        <label>Create New Status Record</label>
        <locationX>314</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Update_Current_Status_on_Oppty</targetReference>
        </connector>
        <inputAssignments>
            <field>Current__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Status__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Status__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Status_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppty_Status_History</name>
        <label>Get Oppty Status History</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Status_History__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Status_on_Oppty</name>
        <label>Update Current Status on Oppty</label>
        <locationX>314</locationX>
        <locationY>1505</locationY>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>Create_New_Status_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Record</name>
        <label>Update Status Record</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_New_Status_Record</targetReference>
        </connector>
        <inputReference>Get_Oppty_Status_History</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Record_for_Closed</name>
        <label>Update Status Record for Closed</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_New_Status_Closed_Oppty</targetReference>
        </connector>
        <inputReference>Get_Oppty_Status_History</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
